@import "~highlight.js/styles/an-old-hope.css";

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font: 14px/1.5 sans-serif;
}

.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 1em 0 0.5em;
}

p {
  padding-bottom: 1rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.code-wrapper {
  background: #1c1d21;
  color: #abb2bf;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.code-wrapper pre {
  font-family: monospace;
  padding: 2rem;
}

.code-wrapper .output {
  background: #fff3;
  padding: 2rem;
}

.code-wrapper .output.error {
  background: #C21919;
  color: #fff;
}

.code-wrapper .output h3 {
  color: white;
  margin-top: -0.1rem;
  padding: 0 0 1rem;
}

.code-wrapper .output code {
  white-space: pre-wrap;
}

.code-wrapper .output svg {
  display: block;
  width: 100%;
  height: auto;
}

.boxout {
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #d7dce1;
  color: #002f55;
}

/* .boxout.weblink {
  background-color: #DCE0E5;
  color: #003865;
}
.boxout.example {
  background-color: #003865;
}
.boxout.background {
  background-color: #003865;
} */
.boxout.supplement {
  background-color: #dfdfdf;
  color: #464646;
}
.boxout.task {
  background-color: #e7d9e3;
  color: #831262
}

svg.pdftex {
  display: block;
  width: 100%;
  height: auto;
}

.math-inline svg {
  vertical-align: middle;
}
