@import "~prismjs/themes/prism-dark.css";

code {
  vertical-align: baseline;
  font-family: monospace;
  padding: 0.1rem 0.3rem 0.2rem;
}

.code-wrapper {
  margin-bottom: 1rem;
  // padding-bottom: 0.2rem;
  border-left: 0.3rem solid var(--lavender);

  pre {
    overflow: auto;
    padding-left: 1rem;
    font-family: monospace;
  }

  code {
    display: block;
    padding: 0;
    margin: 0;
    color: var(--blockCodeColor);
    // background: transparent;
  }

  .output {
    &.error {
      code {
        color: var(--pillarbox);
      }
    }

    h6 {
      font-size: 1rem;
      color: white;
      margin-top: -0.1rem;
      padding: 0 0 1rem;
      &::after {
        content: ':'
      }
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}


