@import "~prismjs/themes/prism-dark.css";

code {
  position: relative;
  bottom: 0.05rem;
  vertical-align: baseline;
  padding: 0.1rem 0.3rem 0.2rem;
  font-family: monospace;
  background: var(--boxoutBg);
  border-radius: 0.2rem;
}

.code-wrapper {
  margin-bottom: 1rem;

  pre {
    overflow: auto;
    font-family: monospace;
  }

  code {
    position: static;
    bottom: 0;
    display: block;
    padding: 0;
    margin: 0;
    color: var(--blockCodeColor);
    background: transparent;
    // line-height: 1.3;

    &.output {
      &.error {
        color: var(--pillarbox);
      }
      svg {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 1rem;
      }
    }
  }
}
