.columns {
  display: flex;

  .column {
    flex: 1;
    margin: 0 0.5rem;
    overflow: auto;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 800px) {
  #root:not(.pdf) .columns {
    flex-direction: column;

    .column {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
