#environment label span {
  padding: 0 1em 0 0.25em;
}

.platform {
  display: none;
}

html.platform-mac .platform.mac,
html.platform-windows .platform.windows,
html.platform-linux .platform.linux {
  display: block;
}

.program {
  display: none;
}

html.program-cli .program.cli,
html.program-github-desktop .program.github-desktop {
  display: block;
}
