img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  svg.pdftex, svg.knitr-svg {
    margin-bottom: 0;
  }
  img {
    margin: 0 auto;
  }
  figcaption {
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    font-style: italic;
    color: var(--fadedTextColor);
    .caption-count {
      color: var(--highlightColor);
    }
  }
}
