$scrollbarWidth: 15px;
$scrollbarPadding: 5px;

*::-webkit-scrollbar {
  width: $scrollbarWidth;
}
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--mainScrollbarThumb) var(--bg);
}
*::-webkit-scrollbar-track {
  background: var(--bg);
}
*::-webkit-scrollbar-thumb {
  border-radius: $scrollbarWidth / 2;
  border: $scrollbarPadding solid;
  background-color: var(--mainScrollbarThumb);
  border-color: var(--bg);
}
