html, body {
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
  overflow: hidden;

  & > aside {
    width: 18rem;
    // display: flex;
    // flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;

    // & > .logo {
    //   flex: 0 0 auto;
    // }

    // & > nav {
    //   flex: 1;
    // }
  }

  & > main {
    flex: 1;
    overflow: auto;
    scroll-behavior: smooth;

    & > .wrapper {
      width: 88%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
