html {
  background: var(--bg);
}

body {
  color: var(--textColor);
}

.hamburger-icon {
  $diam: 1.3rem;
  position: absolute;
  width: $diam;
  height: $diam;
  fill: var(--hamburger);
  top: 3.1rem;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  .logo > & {
    right: 1rem;
  }

  #root > & {
    left: 2rem;
  }
}

aside {
  position: fixed;
  height: 100%;
  width: 18rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--asideBg);
  transition: margin-left 0.2s;

  scroll-behavior: smooth;
  scrollbar-color: var(--asideScrollbarThumb) var(--asideBg);
  &::-webkit-scrollbar-track {
    background: var(--asideBg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--asideBg);
    border-color: var(--asideBg);
    transition: background-color 0.2s;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--asideScrollbarThumb);
    }
  }

  html.hide-sidebar & {
    margin-left: -18rem;
  }
}

main {
  flex: 1;
  overflow: auto;
  margin-left: 18rem;
  transition: margin-left 0.2s;

  html.hide-sidebar & {
    margin-left: 0rem;
  }

  & > .wrapper {
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
