html, body {
  height: 100%;
}

html {
  background: var(--bg);
}

body {
  color: var(--textColor);
}

#root {
  display: flex;
  height: 100%;
  overflow: hidden;

  & > aside {
    width: 18rem;
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--asideBg);

    scroll-behavior: smooth;
    scrollbar-color: var(--asideScrollbarThumb) var(--asideBg);
    &::-webkit-scrollbar-track {
      background: var(--asideBg);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--asideBg);
      border-color: var(--asideBg);
      transition: background-color 0.2s;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--asideScrollbarThumb);
      }
    }
  }

  & > main {
    flex: 1;
    overflow: auto;

    scroll-behavior: smooth;
    scrollbar-color: var(--mainScrollbarThumb) var(--bg);
    &::-webkit-scrollbar-track {
      background: var(--bg);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--mainScrollbarThumb);
      border-color: var(--bg);
    }

    & > .wrapper {
      width: 88%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
