svg.pdftex {
  display: block;
  width: 100%;
  height: auto;
  background: white;
  // path {
  //   stroke: white;
  // }
  // tspan {
  //   fill: white;
  // }
}

.math svg {
  max-width: 100%;
}

svg.block-math {
  display: block;
  width: 100%;
  padding: 1rem 0;
}

svg.inline-math {
  vertical-align: middle;
  font-size: 0.9em;
  svg {
    max-width: 100%;
  }
}
