svg.pdftex {
  display: block;
  width: 100%;
  height: auto;
  // margin: 1rem 0 1.5rem;
  background: white;
}

.math svg {
  max-width: 100%;
}

.math-inline {
  vertical-align: middle;
  svg {
    max-width: 100%;
  }
}
