svg.pdftex,
svg.knitr-svg {
  display: block;
  width: 75%;
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  // background: white;
  // path {
  //   stroke: white;
  // }
  // tspan {
  //   fill: white;
  // }
}

.math svg {
  max-width: 100%;
}

svg.block-math {
  display: block;
  width: 100%;
  padding: 1rem 0;
}

svg.inline-math {
  vertical-align: middle;
  font-size: 0.9em;
  svg {
    max-width: 100%;
  }
}
