html {
  /* system font-family https://css-tricks.com/snippets/css/system-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  text-rendering: geometricPrecision;
  color: #222;
}

p {
  padding-bottom: 1rem;
}

/* ------------------------ */
/* links ------------------ */
/* ------------------------ */

p, li {
  a {
    font-weight: 600;
    text-decoration: none;
    color: #0075b0;
  }
}

/* ------------------------ */
/* titles ----------------- */
/* ------------------------ */

h1, h2, h3, h4, h5, h6 {
  padding: 1.5rem 0 1rem;
  color: $blue;
  font-weight: 700;
}

h1 {
  font-size: 3.3rem;
  padding: 0rem 0 2rem;
  color: black;
}
h1 span {
  display: block;
  font-size: 0.4em;
  opacity: 0.5;
  margin-top: -0.75rem;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem 0 1rem;
  // margin-bottom: 1.5rem;
  // border-bottom: 0.3rem solid #ddd;
}

h3 {
  font-size: 1.5rem;
  padding: 3rem 0 1rem;
}

h4 {
  font-size: 1.25rem;
  color: $slate;
}

h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
  padding-top: 0;
}

// link icon on hover
h2, h3, h4, h5, h6 {
  a {
    color: $blue;
    text-decoration: none;

    &::before {
      $diam: 1em;
      $spacing: 0.2em;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: $diam;
      height: $diam;
      margin-top: -0.15em;
      margin-right: $spacing;
      margin-left: ($diam + $spacing) * -1;
      background: center / 60% auto no-repeat url(../icons/link-icon2.svg);
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::before {
      opacity: 0.5;
    }
  }
}
