@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  text-rendering: geometricPrecision;
  color: #222;
}

main {
  font-size: calc(14px * var(--fontSize));
  // transition: font-size 0.2s;
}

p {
  margin-bottom: 1em;
}

/* ------------------------ */
/* links ------------------ */
/* ------------------------ */

p, li {
  a {
    font-weight: 600;
    text-decoration: none;
    color: #0075b0;
  }
}

/* ------------------------ */
/* titles ----------------- */
/* ------------------------ */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Martel', serif;
  font-weight: 700;
  margin: 1.5em 0 1em;
}

h1 { color: var(--h1Color); }
h2 { color: var(--h2Color); }
h3 { color: var(--h3Color); }
h4 { color: var(--h4Color); }
h5 { color: var(--h5Color); }
h6 { color: var(--h6Color); }

h1 {
  font-size: 3.3em;
  margin: 0.6em 0 1.45em;
}
h1 span {
  display: block;
  font-size: 0.4em;
  opacity: 0.4;
  margin-top: -0.5em;
}

h2 {
  font-size: 2.5em;
  margin: 1em 0 0.5em;
}

h3 {
  font-size: 1.5em;
  margin: 3em 0 0.5em;
}

h4 {
  font-size: 1.25em;
  margin-top: 2em;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

h2 + .boxout,
h3 + .boxout,
h4 + .boxout,
h5 + .boxout {
  margin-top: 0;
}

// link icon on hover
h2, h3, h4, h5, h6 {
  $diam: 0.7em;
  $spacing: 0.4em;
  a {
    display: inline-block;
    vertical-align: middle;
    width: $diam + $spacing;
    height: $diam;
    margin-top: -0.15em;
    margin-left: ($diam + $spacing) * -1;
    opacity: 0;
    transition: opacity 0.2s;
  }
  svg.icon {
    display: block;
    width: $diam + $spacing;
    height: $diam;
    fill: var(--headingLinkColor);
  }

  &:hover {
    a {
      opacity:1;
    }
  }
}
