// https://www.gla.ac.uk/myglasgow/staff/brandtoolkit/brandelements/colours
$blue: #003865;
$cobalt: #0075b0;
$skyblue: #005398;
$slate: #4f5961;
$leaf: #00843d;
$moss: #385a4f;
$sandstone: #7a6855;
$burgundy: #7d2239;
$pillarbox: #b30c00;
$lavender: #5b4d94;
$thistle: #951272;
$rust: #be4d00;

$turqoise: #00b5d1;
$rose: #b06c96;
$pumpkin: #ffb948;
$sunshine: #ffdc36;
$mocha: #aa8066;

// system font-family https://css-tricks.com/snippets/css/system-font-stack
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
