:root {
  // https://www.gla.ac.uk/myglasgow/staff/brandtoolkit/brandelements/colours
  --blue: #003865;
  --blueRgb: 0, 56, 101;
  --cobalt: #0075b0;
  --cobaltRgb: 0, 117, 176;
  --skyblue: #005398;
  --skyblueRgb: 0, 83, 152;
  --slate: #4f5961;
  --slateRgb: 79, 89, 97;
  --leaf: #00843d;
  --leafRgb: 0, 132, 61;
  --moss: #385a4f;
  --mossRgb: 56, 90, 79;
  --sandstone: #7a6855;
  --sandstoneRgb: 122, 104, 85;
  --burgundy: #7d2239;
  --burgundyRgb: 125, 34, 57;
  --pillarbox: #b30c00;
  --pillarboxRgb: 179, 12, 0;
  --lavender: #5b4d94;
  --lavenderRgb: 91, 77, 148;
  --thistle: #951272;
  --thistleRgb: 149, 18, 114;
  --rust: #be4d00;
  --rustRgb: 190, 77, 0;

  --turqoise: #00b5d1;
  --turquoiseRgb: 0, 181, 209;
  --rose: #b06c96;
  --roseRgb: 176, 108, 150;
  --pumpkin: #ffb948;
  --pumpkinRgb: 255, 185, 72;
  --sunshine: #ffdc36;
  --sunshineRgb: 255, 220, 54;
  --mocha: #aa8066;
  --mochaRgb: 170, 128, 102;

  --bg: white;
  --textColor: black;
  --fadedTextColor: #888;
  --labelColor: var(--blue);

  --hamburger: var(--blue);
  --viewOptionsLabel: var(--blue);
  --viewOptionsSelected: 0, 0, 0;

  --h1Color: black;
  --h2Color: var(--blue);
  --h3Color: var(--blue);
  --h4Color: var(--slate);
  --h5Color: var(--blue);
  --h6Color: var(--blue);
  --headingLinkColor: var(--blue);

  --asideBg: #f2f2f2;
  --asideScrollbarThumb: #ccc;
  --mainScrollbarThumb: #222;

  --tableBg: #f2f2f2;
  --tableBorderColor: #bbb;
  --tableTitleColor: #222;
  --tableTextColor: #222;

  --boxoutBg: #f2f2f2;
  --boxoutTextColor: #222;
  --boxoutTypeBg: black;
  --boxoutTypeTextColor: white;

  --taskBg: rgba(var(--thistleRgb), 0.1);
  --taskFg: var(--thistle);
  --answerBg: #f2f2f2;

  --codeBg: rgba(black, 0.07);
  --blockCodeColor: #333;

  --modalContentBg: white;

  --selectColor: black;
  --selectShadow: rgba(0, 0, 0, 0.25);
  --selectFocusShadow: var(--rust);
}

html.theme-dark {
  --bg: #111;
  --textColor: #ccc;
  --fadedTextColor: #666;
  --labelColor: var(--cobalt);

  --hamburger: var(--sandstone);
  --viewOptionsLabel: white;
  --viewOptionsSelected: 255, 255, 255;

  --h1Color: white;
  --h2Color: var(--sandstone);
  --h3Color: var(--sandstone);
  --h4Color: var(--cobalt);
  --h5Color: var(--cobalt);
  --h6Color: var(--cobalt);
  --headingLinkColor: white;

  --asideBg: #222;
  --asideScrollbarThumb: #333;
  --mainScrollbarThumb: #ddd;

  --tableBg: #222;
  --tableBorderColor: #444;
  --tableTitleColor: #ccc;
  --tableTextColor: #999;

  --boxoutBg: #222;
  --boxoutTextColor: #ccc;
  --boxoutTypeBg: white;
  --boxoutTypeTextColor: black;

  --taskBg: rgba(var(--thistleRgb), 0.1);
  --taskFg: var(--thistle);
  --answerBg: #333;

  --codeBg: rgba(white, 0.07);
  --blockCodeColor: #888;

  --modalContentBg: #2e2e2e;

  --selectColor: white;
  --selectShadow: rgba(255, 255, 255, 0.25);
  --selectFocusShadow: var(--rust);
}
