.video-wrapper {
  display: block;
  text-decoration: none;
  padding: 0 2rem 2rem;
  border-top: 5px solid black;
  background: #f7f7f7;
  margin: 1rem 0 1.5rem;
  color: #222;

  .type {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    margin-bottom: 1rem;
    background: black;
    color: white;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  img {
    display: block;
    width: 25%;
    margin-left: 2rem;
  }

  .desc {
    flex: 1;
    .title {
      font-weight: 700;
      padding: 0 0 1rem;
    }
  }
}
